* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

/* khôi phục lại cỡ chữ mặc định */
body {
  font-size: 1.6rem;
  font-family: sans-serif;
  height: 100000px;
  width: 100%;
}

/* phần common */
a {
  text-decoration: none;
  color: #333;
}
:root {
  --primary-color: #01519a;
}

.main-content {
  max-width: calc(100% - 48px);
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
/* phần header */

.header .body {
  display: flex;
  align-items: center;
  background-color: #01519a;
}

.nav ul {
  display: flex;
  gap: 10px;
}
.nav {
  /* margin-left: auto; */
}
.nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.4rem;
  line-height: 50px;
  padding: 0px 10px;
  text-align: left;
}

.header .logo {
  display: inline-block;
  width: 70px;
  height: 50px;
  object-fit: cover;
}
.nav a:hover {
  background-color: rgb(255, 102, 0);
}

.header .action {
  margin-left: auto;
}
.btn {
  min-width: 118px;
  display: inline-block;
  color: #ffffff;
  text-align: center;
  padding: 0px 10px;
  font-size: 1.6rem;
  line-height: 50px;
  font-weight: 600;
  border-radius: 999px;
  background: #ecf00ccc;
}
.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}
.header .btn-sign-up {
  min-width: 114px;
}

.header.fixed {
  position: sticky;
  top: 0;
  z-index: 1;
}
.header .action {
  margin-right: 1px;
}

/* code phần hình ảnh giới thiệu */
.gioithieu .body {
  margin-left: 100px;
}
.icon {
  font-size: 35px;
  color: var(--primary-color);
}
.icon:hover {
  cursor: pointer;
}

/* code phần tuổi */
.old {
  margin: 30px auto;
  display: flex;
  align-items: center;
  padding: 0 30px;
}

.old .cart__avatar {
  width: 170px;
  height: 162px;
  position: relative;
}
.cart__info {
  display: block;
  background-color: #85c227;
  width: 170px;
  height: 35px;
  box-shadow: #0009 0px 0px 16px 0px;
  text-align: center;
  border-radius: 10px;

  border: none;
}
.cart__info p {
  border-color: #fff;
  border-radius: 10px;
  border-style: dashed;
  border-width: 1px;
  color: #fff;
  font-family: sans-serif;
  font-size: 13.3333px;
  font-weight: 700;
  line-height: 25px;
  margin: 0px 10px;
  text-align: center;
  text-transform: uppercase;
}
.old .main-content {
  display: flex;
  gap: 77px;
  flex-wrap: wrap;
  align-items: center;
}
.old .cart {
  transition: 0.25s;
}
.old .cart:hover {
  scale: 0.98;
  cursor: pointer;
}

/* =========================================== phần thương hiệu =============================== */
.thuonghieu {
  margin-bottom: 30px;
}
.thuonghieu__text {
  color: var(--primary-color);
  font-weight: 700;
  line-height: 90px;
  padding: 0 0 0 15px;
  text-transform: uppercase;
}
.thuonghieu .body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(226, 226, 226);
}
.thuonghieu__img {
  padding: 20px;
}
.thuonghieu__img--listimg img {
  width: 99px;
  height: 48px;
}
.thuonghieu__img--listimg {
  display: flex;
  gap: 80px;
}

/* =================================================phan gioi thieu quang cao=============================== */

.quangcao1 {
  display: flex;
  align-items: start;
  gap: 15px;
}
.quangcao .quangcao1 .quangcao__right {
  width: 0.3%;
}

.quangcao1 .quangcao__tren img {
  width: 774px;
  height: 358px;
}
.quangcao1 .quangcao__duoi {
  display: flex;
  justify-content: space-between;
}
.quangcao1 .quangcao__left {
  display: flex;
  flex-direction: column;
}

.quangcao1 .quangcao__duoi img {
  width: 376px;
  height: 174px;
}
.quangcao1 .quangcao__duoi--left,
.quangcao1 .quangcao__duoi--right {
  padding: 20px 0;
}
.quangcao1 .quangcao__right img {
  width: 378px;
  height: 603px;
}

/* =========================================================phần quảng cáo 2============================================= */
.quangcao2 .quangcao2__left {
  width: 50%;
  background-color: rgb(235, 235, 235);
}
.quangcao .quangcao2__left--left {
  width: 50%;
}
.quangcao2 .quangcao2__left--hinhanh {
  overflow: hidden;
}
.quangcao2 .quangcao2__left--hinhanh img {
  height: 208px;
  transition: 0.45s;
}
.quangcao2__left--content {
  padding: 15px 15px 25px;
}
.quangcao2__left--content h3 {
  font-size: 1.638rem;
  font-weight: 700;
  line-height: 25px;
}
.quangcao2__left--content p {
  font-size: 1.4rem;
  line-height: 23px;
  color: #666;
}
.quangcao2__left--left:hover .quangcao2__left--hinhanh img {
  transform: scale(1.05);
}
.quangcao2__left--left:hover h3 {
  color: var(--primary-color);
}
.quangcao2__left {
  display: flex;
  justify-content: space-between;
}
.quangcao2__right--list {
  padding: 0 10px 10px 0;
}
.quangcao2 li {
  margin-bottom: 20px;
  text-align: left;
}
.quangcao2 li a {
  display: inline-block;
  width: 262px;
  height: 46px;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 23px;
  padding: 0px 0px 0px 15px;
  text-align: left;
}
.quangcao2 li a:hover {
  color: var(--primary-color);
}
.img-video {
  width: 570px;
  height: 335px;
  object-fit: cover;
}
.quangcao2 .video {
  position: relative;
}
.img-video-play {
  position: absolute;
  top: -200px;
  left: 230px;
  z-index: 999;
}
.quangcao2 {
  display: flex;
  justify-content: space-between;
}

/* =====================================================phần about_me=============================== */
.about_me {
  margin: 50px 0;
}
.about_me .title {
  font-size: 2.4rem;
  font-weight: 700;
  margin: 0px 0px 60px;
  text-align: center;
  text-transform: uppercase;
}
.about_me .item {
  width: 390px;
  height: 205px;
  text-align: center;
  padding: 0 40px;
}
.about_me .item p {
  margin: 0 auto;
}
.about_me .subtitle {
  margin: 15px 0;
}
.about_me .list_item {
  display: flex;
  align-items: center;
}
.about_me .subtitle {
  color: #333;

  font-size: 2rem;
  font-weight: 700;
  margin: 15px 0px;
  text-transform: uppercase;
}
.about_me .item {
  color: #333;
  font-size: 1.4rem;
}
